/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}  
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
 html {
     width: 960px;
     margin: 0 auto;
 }
  
  .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: 2%;

     
  }
    .navigation {
        width: 80%;
        
        padding: 5%;

    }
     .nav {
         display: flex;
         
         justify-content: space-around;
         align-content: flex-start;
         width: 500px;
         padding: 2%;
         
     }
     .nav a {
        font-size: 20px;
     }

  .header-section {
      display: flex;
      justify-content: space-between;
      max-width: 760px;

  }
      .header-item {
          padding: 20px;
          box-sizing: border-box;
          flex-basis: 46%;
      } 
      .header-item h1 {
          font-size: 4em;
          flex-wrap: wrap;
          font-weight: bold;
          margin: 4%;
      }
      
      button {
          font-size: 2em;
      }
     .top-content {
         display: flex;
         flex-direction: row;
        } 
         
        
       
     .top-content div {
            align-items: center;
            justify-content: space-evenly;
             width: 48%;
             padding: 2%;
             margin: 2%;
         
         }
         
           .content-top {
               flex-basis: 40%;
               box-sizing: border-box;
               margin: auto;
           }


           h3 {
               font-size: 1.5em;
               font-weight: bold;
               margin: 2%;
           }
         .mid-page-image {
             align-items: center;
             margin: 2%;
         }
         .bottom-content {
             display: flex;
             justify-content: space-between;
             max-width: 960px;
             margin: 0 auto;
         }
             .content-bottom {
                 box-sizing: border-box;
                 flex-basis: 30%;
                 padding: 20px;
                 margin-bottom: 20px;
             }
             address {
                 margin: 2%;
             }
             footer {
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }


  /* At 800px Do the following */
     @media (max-width: 800px) {
         
         
   .logo {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      order: -1;
   }
     .header-image {
         display: none;
     }
     
     header {
      flex-flow: column wrap;
    }
      .mid-page-image {
          max-width: 100%;
      }
      
     header .nav {
         display: flex;
         width: 750px; 
         justify-content: space-between;
         
     }
   }

      /* At 500px Do the following */
      @media (max-width: 500px) {
          html {
              display: flex;
              
              flex-flow: column wrap;
              align-content: flex-start;
              align-items: center;
              margin: 0;
          }
          .logo {
            width: 50%;
            order: -1;
            flex-flow: column nowrap;
            
        }
        .top-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
           }


        .mid-page-image {
            max-width: 100%;
        }
          .bottom-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 auto;
          }


           .logo {
               display: flex;
               
               justify-content: center;
               align-items: center;
               margin: 0 auto;
              
           }
            .nav {
            display: flex;
            flex-direction: column;
             width: 480px;
             margin: 0 auto;
             justify-content: center;
            align-items: center;
            font-size: 1.2em
        }


     .header-image {
         display: none;
     }

}

